@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.hidden {
  display: none;
}

nav.nav-bar {
  width: 100%;
  height: 60px;
  background: #282828;
  z-index: 50;
}

nav.nav-bar h1.logo {
  position: absolute;
  height: 60px;
  margin: 0;
  top: 0;
  left: 10%;
}

@media (max-width: 800px) {
  nav.nav-bar h1.logo {
    left: 50%;
    margin-left: -50px;
  }
}

nav.nav-bar h1.logo a {
  display: block;
  width: 90px;
  line-height: 60px;
}

nav.nav-bar h1.logo a img {
  margin: 0;
  font-size: 10px;
  width: 100%;
}

nav.nav-bar a.menu_btn {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  line-height: 30px;
  text-decoration: none;
  display: none;
}

nav.nav-bar a.menu_btn:hover, nav.nav-bar a.menu_btn:active {
  text-decoration: none;
}

@media (max-width: 800px) {
  nav.nav-bar a.menu_btn {
    display: inline-block;
  }
}

nav.nav-bar ul.nav-group {
  width: 350px;
  position: absolute;
  right: 8%;
  z-index: 40;
  display: block;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group {
    clear: both;
    width: 100%;
    top: 60px;
    right: 0;
    border: 1px solid #282828;
    background: #333;
    display: none;
  }
  nav.nav-bar ul.nav-group.show {
    display: block;
  }
}

nav.nav-bar ul.nav-group > li {
  padding: 15px 10px;
  text-align: center;
  margin: 0 10px;
  line-height: 30px;
  font-size: 12px;
  float: left;
  position: relative;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li {
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    padding: 0;
    margin: 0;
    clear: both;
    width: 100%;
  }
}

nav.nav-bar ul.nav-group > li a {
  color: #fff;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li a {
    display: block;
    height: 100%;
    width: 100%;
    height: 70px;
    line-height: 70px;
    background: #333;
  }
  nav.nav-bar ul.nav-group > li a:hover {
    font-weight: bold;
    background: #282828;
  }
  nav.nav-bar ul.nav-group > li a:active {
    font-weight: bold;
    background: #282828;
    color: #2bde73;
  }
}

nav.nav-bar ul.nav-group > li a i {
  color: #fff;
}

nav.nav-bar ul.nav-group > li a.active {
  color: #2bde73;
  font-weight: bold;
}

nav.nav-bar ul.nav-group > li div.sub_menu {
  width: 100px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  padding: 7px 0;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li div.sub_menu {
    position: initial;
    padding: 0;
    margin-left: 0;
    background: none;
    border: none;
    width: 100%;
  }
}

nav.nav-bar ul.nav-group > li div.sub_menu li {
  text-align: center;
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  clear: both;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li div.sub_menu li {
    width: 33.3333333333333333333333333333333%;
    clear: none;
    float: left;
    height: 100%;
    line-height: 25px;
    background: #333;
  }
}

nav.nav-bar ul.nav-group > li div.sub_menu li a {
  font-size: 12px;
  width: 100%;
  color: #333;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li div.sub_menu li a {
    color: #fff;
  }
}

div.footer {
  clear: both;
  width: 100%;
  border-top: 1px solid #ddd;
  z-index: 30;
}

div.footer div.wrap-footer {
  width: 60%;
  min-width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  div.footer div.wrap-footer {
    text-align: center;
  }
}

div.footer div.wrap-footer div {
  float: left;
  width: 21%;
  padding: 2%;
}

div.footer div.wrap-footer div img {
  width: 90px;
}

div.footer div.wrap-footer div h2 {
  font-size: 16px;
  letter-spacing: 3px;
  margin: 40px 0;
}

div.footer div.wrap-footer div p {
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: -0.7px;
  color: #aaa;
}

div.footer div.wrap-footer div a {
  color: #aaa;
}

div.footer div.wrap-footer div a.contact_mail {
  color: #2bde73;
}

div.footer div.wrap-footer div:first-child p {
  color: #2bde73;
  font-weight: bold;
}

@media (max-width: 800px) {
  div.footer div.wrap-footer div {
    width: 42%;
  }
}

@media (max-width: 480px) {
  div.footer div.wrap-footer div {
    width: 96%;
  }
}

@media (max-width: 800px) {
  div.footer div.wrap-footer {
    width: 100%;
    min-width: initial;
  }
}

div.footer div.wrap-footer em {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  height: 50px;
  line-height: 50px;
  clear: both;
  font-size: 11px;
  font-style: normal;
  color: #666;
  text-align: center;
}

div.footer div.wrap-footer em a:hover {
  color: #2bde73;
  text-decoration: underline;
}

@media (max-width: 800px) {
  div.footer div.wrap-footer em {
    margin: 0;
  }
}

div.slider {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
  overflow: hidden;
  position: relative;
}

div.slider.page.list {
  height: 600px;
}

div.slider.page.list h3 {
  position: relative;
  top: -20px;
  line-height: 1.0;
}

div.slider.page.list h3 span {
  font-size: 0.8em;
}

div.slider nav {
  position: absolute;
  top: 170px;
  width: 100%;
  height: 30px;
  z-index: 3;
}

div.slider nav.recommend {
  top: 50%;
}

div.slider nav.recommend a {
  color: #000;
}

div.slider nav a {
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  opacity: 0.7;
  margin: 0 40px;
}

div.slider nav a.left {
  float: left;
}

div.slider nav a.right {
  float: right;
}

div.slider nav a:hover {
  color: #2bde73;
}

div.slider ul.slider {
  width: 600%;
  position: relative;
}

div.slider ul.slider.list-group.recommend {
  margin: 40px auto;
  width: 200%;
}

@media (max-width: 800px) {
  div.slider ul.slider.list-group.recommend {
    width: 400%;
  }
}

@media (max-width: 480px) {
  div.slider ul.slider.list-group.recommend {
    width: 800%;
  }
}

div.slider ul.slider.list-group.recommend > li {
  margin: 0 0.5%;
  width: 11.5%;
  position: relative;
}

div.slider ul.slider > li {
  width: 16.666666666666666666666666667%;
  float: left;
}

div.slider ul.slider > li.game_01 {
  height: 400px;
  background: url(../image/overwatch.jpg) no-repeat;
  background-position: 0 -40px;
  background-size: cover;
}

@media (max-width: 800px) {
  div.slider ul.slider > li.game_01 {
    background-position: center 0;
  }
}

div.slider ul.slider > li.game_02 {
  height: 400px;
  background: orange;
}

div.slider ul.slider > li.game_03 {
  height: 400px;
  background: yellow;
}

div.slider ul.slider > li.game_04 {
  height: 400px;
  background: green;
}

div.slider ul.slider > li.game_05 {
  height: 400px;
  background: blue;
}

div.slider ul.slider > li.game_06 {
  height: 400px;
  background: pink;
}

div.slider ul.slider > li div.slider-cover {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 50px 15%;
  box-sizing: border-box;
}

div.slider ul.slider > li div.slider-cover span {
  color: #2bde73;
  border: 1px solid #2bde73;
  border-radius: 5px;
  padding: 2px 10px;
  font-size: 12px;
  font-weight: bold;
}

div.slider ul.slider > li div.slider-cover h2 {
  color: #fff;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 30px;
}

@media (max-width: 800px) {
  div.slider ul.slider > li div.slider-cover h2 {
    font-size: 26px;
  }
}

@media (max-width: 480px) {
  div.slider ul.slider > li div.slider-cover h2 {
    font-size: 18px;
  }
}

div.slider ul.slider > li div.slider-cover p {
  color: #fff;
  letter-spacing: -1px;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 20px;
}

div.slider ul.slider > li div.slider-cover a.btn {
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  padding: 8px 15px;
  border: 1px solid #2bde73;
  border-radius: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.slider ul.slider > li div.slider-cover a.btn:hover {
  background: #2bde73;
}

div.page {
  width: 80%;
  max-width: 1200px;
  min-width: 800px;
  margin: 20px auto;
  position: relative;
}

@media (max-width: 800px) {
  div.page {
    width: 90%;
    min-width: initial;
  }
}

div.page div.form {
  width: 100%;
}

div.page.list {
  clear: both;
}

div.page.list div.category_name {
  width: 100%;
  background: coral;
}

div.page.list h3 {
  text-align: center;
  font-size: 25px;
  font-family: 'Exo 2', sans-serif;
  letter-spacing: 5px;
}

div.page.list div.tab_wrap {
  clear: both;
  width: 700px;
  height: 120px;
  margin: 80px auto;
  position: relative;
}

@media (max-width: 800px) {
  div.page.list div.tab_wrap {
    width: 100%;
  }
}

div.page.list div.tab_wrap nav.tab-nav {
  height: 55px;
}

div.page.list div.tab_wrap nav.tab-nav li {
  background: #333;
  margin-left: -1px;
  text-align: center;
  float: left;
  width: 120px;
  height: 40px;
  line-height: 38px;
  font-weight: bold;
  border: 1px solid #ddd;
  letter-spacing: 2px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

@media (max-width: 480px) {
  div.page.list div.tab_wrap nav.tab-nav li {
    width: 100px;
  }
}

div.page.list div.tab_wrap nav.tab-nav li.active {
  background: #fff;
  border-top: 3px solid #2bde73;
  border-bottom: 3px solid #fff;
  height: 55px;
  margin-top: -16px;
  line-height: 50px;
  z-index: 50;
}

div.page.list div.tab_wrap nav.tab-nav li.active a {
  color: #444;
}

div.page.list div.tab_wrap nav.tab-nav li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 35px;
  font-size: 13px;
  color: #fff;
}

div.page.list div.filter-wrap {
  clear: both;
  width: 100%;
  margin: 0 auto;
  border-top: 1px solid #ddd;
  position: relative;
  top: -14px;
}

@media (max-width: 800px) {
  div.page.list div.filter-wrap {
    width: 100%;
  }
}

div.page.list div.filter-wrap.specification {
  height: 120px;
  border-bottom: 1px solid #333;
}

@media (max-width: 800px) {
  div.page.list div.filter-wrap.specification {
    height: 240px;
  }
}

div.page.list div.filter-wrap.specification div.filter-group {
  height: 120px;
}

div.page.list div.filter-wrap h2 {
  position: absolute;
  display: inline-block;
  width: 100px;
  font-size: 17px;
  top: -40px;
  left: 50%;
  margin-left: -50px;
  letter-spacing: 5px;
}

div.page.list div.filter-wrap div.filter-group {
  float: left;
  width: 18%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  div.page.list div.filter-wrap div.filter-group {
    width: 33.3333333333333333%;
  }
}

div.page.list div.filter-wrap div.filter-group h3 {
  text-align: center;
  font-size: 15px;
  letter-spacing: 5px;
}

@media (max-width: 480px) {
  div.page.list div.filter-wrap div.filter-group h3 {
    margin: 10px auto 10px auto;
    letter-spacing: 2px;
  }
}

div.page.list div.filter-wrap div.filter-group label {
  margin: 2px -4px;
  border: 1px solid #ddd;
  display: inline-block;
  background: #fff;
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

div.page.list div.filter-wrap div.filter-group label.active {
  border: 1px solid #2bde73;
  color: #2bde73;
}

div.page.list div.filter-wrap div.filter-group:last-child {
  width: 10%;
  height: 120px;
  font-size: 12px;
  font-weight: bold;
  padding: 0;
}

@media (max-width: 800px) {
  div.page.list div.filter-wrap div.filter-group:last-child {
    width: 33.3333333333333333%;
  }
}

div.page.list div.filter-wrap div.filter-group:last-child.purpose {
  width: 10%;
}

@media (max-width: 800px) {
  div.page.list div.filter-wrap div.filter-group:last-child.purpose {
    width: 20%;
  }
}

div.page.list div.filter-wrap div.filter-group.purpose {
  width: 100%;
  text-align: left;
}

div.page.list div.filter-wrap div.filter-group.purpose:last-child {
  width: 100%;
  height: 35px;
}

div.page.list div.filter-wrap div.filter-group.purpose label {
  margin: 8px;
}

@media (max-width: 480px) {
  div.page.list div.filter-wrap div.filter-group.purpose label {
    margin: 2px 1px;
  }
}

div.page.list div.filter-wrap div.filter-group input.submit.filter-group {
  width: 100%;
  height: 100%;
  background: #333;
  color: #2bde73;
  border: none;
  padding: 0;
}

div.page.list.mypage div.sort-wrap, div.page.list.mypage div.sort-wrap.shop {
  margin: 0 auto 20px auto;
}

div.page.list div.sort-wrap {
  clear: both;
  float: right;
  position: relative;
  left: -50%;
  margin: 50px auto 20px auto;
}

div.page.list div.sort-wrap.shop {
  margin: 50px auto 20px auto;
}

div.page.list div.sort-wrap ul.sort-list {
  float: left;
  position: relative;
  left: 50%;
  margin: 0px 18px;
}

@media (max-width: 480px) {
  div.page.list div.sort-wrap ul.sort-list {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

div.page.list div.sort-wrap ul.sort-list li {
  float: left;
  font-size: 12px;
  border: 1px solid #ddd;
  padding: 7px 23px;
  margin-left: -1px;
  text-align: center;
  color: #666;
  cursor: pointer;
}

@media (max-width: 480px) {
  div.page.list div.sort-wrap ul.sort-list li {
    width: 22%;
    padding: 10px 2px;
  }
}

div.page.list div.sort-wrap ul.sort-list li:first-child {
  border-radius: 10px 0 0 10px;
}

div.page.list div.sort-wrap ul.sort-list li:last-child {
  border-radius: 0 10px 10px 0;
}

div.page.list div.sort-wrap ul.sort-list li.active {
  background: #2bde73;
  color: #fff;
  font-weight: bold;
}

div.page.list div.sort-wrap ul.sort-list li.active:focus {
  color: #fff;
  font-weight: bold;
}

div.page.list ul.list-group {
  height: 300px;
  clear: both;
}

div.page.list ul.list-group > li {
  width: 23%;
  list-style: none;
  float: left;
  margin: 20px 1%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px #ddd;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

@media (max-width: 800px) {
  div.page.list ul.list-group > li {
    width: 48%;
  }
}

@media (max-width: 480px) {
  div.page.list ul.list-group > li {
    width: 98%;
  }
}

div.page.list ul.list-group > li.shop {
  text-align: center;
}

div.page.list ul.list-group > li span.badge {
  font-family: 'Exo 2', sans-serif;
  position: absolute;
  top: 5px;
  left: 5px;
  display: block;
  width: 50px;
  height: 50px;
  text-align: center;
  letter-spacing: -1px;
  background: url("../image/bookmark.png") top no-repeat;
  background-size: 100%;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

div.page.list ul.list-group > li span.badge.medal {
  width: 70px;
  height: 70px;
  font-size: 30px;
  line-height: 55px;
}

div.page.list ul.list-group > li span.badge.recommend {
  top: 10px;
  left: -45px;
  width: 150px;
  height: 40px;
  background: #2bde73;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-shadow: 5px 5px 20px #222;
}

div.page.list div.img-box {
  width: 100%;
  background: #fff;
  overflow: hidden;
}

div.page.list div.img-box img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #eee;
}

div.page.list div.img-box.shop {
  height: 130px;
}

div.page.list div.detail-box {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.page.list div.detail-box a.prod-title {
  color: #222;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: 10px;
  line-height: 30px;
}

div.page.list div.detail-box a.prod-title.shop {
  line-height: 50px;
  padding: 0;
}

div.page.list div.detail-box ul.prod_category {
  height: 80px;
  line-height: 1.2;
  margin: 0;
  padding: 0 10px;
}

div.page.list div.detail-box ul.prod_category li {
  float: left;
  margin-right: 3px;
}

div.page.list div.detail-box ul.prod_category li a.category {
  display: inline;
  font-size: 11px;
  font-weight: bold;
  padding: 2px 7px;
  margin: 1px;
  line-height: 2;
  color: #fff;
  border-radius: 5px;
  text-overflow: initial;
  white-space: normal;
}

div.page.list div.detail-box ul.prod_category li a.category_1 {
  background: indianred;
}

div.page.list div.detail-box ul.prod_category li a.category_2 {
  background: yellowgreen;
}

div.page.list div.detail-box ul.prod_category li a.category_3 {
  background: cornflowerblue;
}

div.page.list div.detail-box ul.prod_category li a.category_4 {
  background: lightpink;
}

div.page.list div.detail-box ul.prod_category li a.category_5 {
  background: rebeccapurple;
}

div.page.list div.detail-box ul.prod_category li a.category_6 {
  background: darkcyan;
}

div.page.list div.detail-box ul.prod_category li a.category_7 {
  background: darkorange;
}

div.page.list div.detail-box ul.prod_category li a.category_8 {
  background: darkgray;
}

div.page.list div.detail-box ul.prod_category li a.category_9 {
  background: dodgerblue;
}

div.page.list div.detail-box ul.prod_category li a.category_10 {
  background: midnightblue;
}

div.page.list div.detail-box p {
  display: block;
  width: 2300/24%;
  margin: 0;
  padding: 0 10px;
  clear: both;
}

div.page.list div.detail-box p:not(.prod_category) {
  height: 40px;
  line-height: 40px;
}

div.page.list div.detail-box p.prod-shop {
  color: #666;
  font-size: 11px;
  clear: both;
  border-top: 1px solid #eee;
}

div.page.list div.detail-box p.prod-price {
  color: dodgerblue;
  font-size: 14px;
  font-weight: bold;
  display: block;
  border-top: 1px solid #eee;
}

div.page.list div.detail-box p.prod-price span {
  float: right;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #eee;
}

div.page.list div.detail-box p.prod-price span i.fa-heart {
  color: hotpink;
}

div.page.list div.detail-box p.prod-price span i.fa-heart-o {
  color: #ccc;
}

div.page.list div.bookmark {
  float: left;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  background: #fff;
}

div.page.list div.bookmark i {
  font-size: 30px;
  line-height: 50px;
}

div.page.list div.bookmark i.fa-star {
  color: #ffcc00;
}

div.page.list div.bookmark i.fa-star-o {
  color: #ccc;
}

div.page.list div.bookmark.guest {
  background: none;
  z-index: -1;
}

div.pagination {
  clear: both;
  float: right;
  position: relative;
  left: -50%;
  margin-bottom: 80px;
}

div.pagination ul.pagination {
  position: relative;
  left: 50%;
  padding: 0;
  margin: 50px auto;
  display: block;
}

div.pagination ul.pagination li {
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold;
}

div.pagination ul.pagination li.active {
  background: #2bde73;
  color: #fff;
}

div.pagination ul.pagination li a {
  color: #666;
}

div.page.list div.search-wrap div.search-form {
  clear: both;
  width: 60%;
  margin: 50px auto 0 auto;
  height: 25px;
  padding: 10px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 25px;
  line-height: 10px;
}

@media (max-width: 800px) {
  div.page.list div.search-wrap div.search-form {
    width: 90%;
  }
}

div.page.list div.search-wrap div.search-form label {
  margin: 0 5px;
}

div.page.list div.search-wrap div.search-form input {
  width: 85%;
  outline: none;
  border: none;
}

div.page.list div.search-wrap div.search-form input:focus {
  outline: none;
}

div.page.list div.wrap {
  clear: both;
}

div.page.list div.wrap div.sort-wrap {
  margin: 50px auto;
}

div.page.list div.write-btn {
  clear: both;
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  div.page.list div.write-btn {
    width: 100%;
  }
}

div.page.list div.write-btn a {
  margin: 10px 25px;
  float: right;
  font-size: 12px;
  padding: 5px 10px;
  background: #333;
  font-weight: bold;
  color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

div.page.list div.write-btn a:hover {
  color: #2bde73;
}

div.page.list ul.myProduct {
  clear: both;
  width: 800px;
  margin: 0 auto;
}

@media (max-width: 800px) {
  div.page.list ul.myProduct {
    width: 100%;
  }
}

div.page.list ul.myProduct > li {
  width: 100%;
  height: 180px;
  padding: 20px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  clear: both;
}

@media (max-width: 800px) {
  div.page.list ul.myProduct > li {
    height: 480px;
  }
}

div.page.list ul.myProduct > li.detail {
  border: none;
  height: initial;
}

div.page.list ul.myProduct > li div.mybutton {
  clear: both;
  float: right;
  left: -50%;
  position: relative;
}

div.page.list ul.myProduct > li div.mybutton div.button-group {
  position: relative;
  top: 6px;
  left: 50%;
}

div.page.list ul.myProduct > li div.mybutton input.delete, div.page.list ul.myProduct > li div.mybutton a.modify {
  border: 1px solid #ddd;
  background: #fff;
  font-size: 12px;
  padding: 5px 10px;
  color: #333;
  float: left;
  margin: 5px;
}

div.page.list div.image-box {
  margin-right: 20px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  float: left;
}

@media (max-width: 800px) {
  div.page.list div.image-box {
    float: initial;
    clear: both;
    margin: 10px auto;
  }
}

div.page.list div.image-box.detail {
  clear: both;
  float: initial;
  margin: 30px auto 0 auto;
  width: 100%;
  height: initial;
  max-width: 500px;
}

div.page.list div.image-box.detail img {
  width: 100%;
  height: auto;
}

div.page.list div.image-box img {
  height: 100%;
  width: auto;
}

div.page.list div.mydetail-box {
  float: left;
  width: 610px;
}

@media (max-width: 800px) {
  div.page.list div.mydetail-box {
    width: 100%;
  }
}

div.page.list div.mydetail-box.detail {
  width: 100%;
  margin: -20px auto 80px auto;
}

div.page.list div.mydetail-box.detail a.myprod-title {
  font-size: 30px;
  position: absolute;
  top: 0;
  left: 0;
}

div.page.list div.mydetail-box.detail p.myprod-price {
  font-size: 25px;
}

div.page.list div.mydetail-box a.myprod-title {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

div.page.list div.mydetail-box a.myprod-title:hover {
  text-decoration: underline;
}

div.page.list div.mydetail-box p.myprod-price {
  float: right;
  margin: 15px;
  font-weight: bold;
  font-size: 20px;
  color: dodgerblue;
}

div.page.list div.mydetail-box ul {
  clear: both;
  width: 100%;
}

div.page.list div.mydetail-box ul li {
  box-sizing: border-box;
  margin: -1px 0 0 -1px;
  float: left;
  width: 33.333333333333333333333333333333%;
  border: 1px solid #ddd;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 800px) {
  div.page.list div.mydetail-box ul li {
    width: 50%;
  }
  div.page.list div.mydetail-box ul li:first-child, div.page.list div.mydetail-box ul li:nth-child(2) {
    width: 100%;
  }
}

div.page.list div.mydetail-box ul li span:first-child {
  display: inline-block;
  padding: 0 10px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  background: #eee;
  font-weight: bold;
}

div.page.list div.mydetail-box ul.detail li, div.page.list div.mydetail-box ul.detail li span:first-child {
  height: 50px;
  line-height: 50px;
}

div.page.detail a.myprod-title {
  font-size: 40px;
  color: #333;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.page.detail a.prod-url {
  font-size: 15px;
  color: #333;
  letter-spacing: -0.5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.page.detail div.fav-group {
  margin: 10px auto;
  width: 60px;
  height: 35px;
  padding: 10px 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px #ddd;
  text-align: center;
}

div.page.detail div.fav-group span {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  font-size: 11px;
  line-height: 1.0;
}

div.page.detail div.fav-group span a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #444;
  font-weight: bold;
}

div.page.detail div.fav-group span a i {
  margin: 0;
  font-size: 20px;
  color: hotpink;
}

div.page.detail div.fav-group span a em {
  font-style: normal;
}

div.page.detail div.link-group {
  padding: 30px 0;
  width: 100%;
  clear: both;
}

@media (max-width: 800px) {
  div.page.detail div.link-group {
    width: 100%;
    padding: 20px 0;
  }
}

div.page.detail div.link-group a {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  background: #282828;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -2px;
}

div.page.detail div.link-group a:hover {
  color: #2bde73;
}

div.mypage form {
  margin: 0 auto;
}

div.mypage div.form {
  width: 50%;
  clear: both;
  margin: 30px auto 100px auto;
  padding: 30px 2.5% 80px 2.5%;
  border: 1px solid #ddd;
  box-shadow: 0 0 15px #ddd;
  background: #fff;
  border-radius: 20px;
  font-size: 12px;
}

div.mypage div.form.apply {
  width: 800px;
}

@media (max-width: 800px) {
  div.mypage div.form.apply {
    width: 95%;
  }
}

div.mypage div.form.login {
  width: 450px;
}

@media (max-width: 800px) {
  div.mypage div.form.login {
    width: 95%;
  }
}

@media (max-width: 800px) {
  div.mypage div.form {
    width: 95%;
  }
}

div.mypage div.form h2 {
  display: block;
  width: 180px;
  text-align: center;
  margin: 30px auto 60px auto;
  font-size: 30px;
  letter-spacing: -3px;
  border-bottom: 4px solid #2bde73;
}

div.mypage div.form h3 {
  clear: both;
  height: 30px;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-indent: 20px;
  border-left: 3px solid #2bde73;
  letter-spacing: -2px;
  margin-top: 30px;
}

div.mypage div.form h4 {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-weight: bold;
}

div.mypage div.form label:not(.agree):not(.error) {
  clear: both;
  font-size: 13px;
  margin: 10px;
}

div.mypage div.form label.agree {
  width: 90%;
}

div.mypage div.form label.error, div.mypage div.form span.help-block strong {
  font-size: 11.5px;
  font-weight: bold;
  padding: 10px 0 30px 0;
  color: #FA5858;
  float: left;
}

div.mypage div.form input.user_email {
  background: #eee;
}

div.mypage div.form input:not(.agree) {
  width: 100%;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 5px 0;
  padding: 8px 10px;
}

@media (max-width: 800px) {
  div.mypage div.form input:not(.agree) {
    width: 95%;
  }
}

div.mypage div.form input[type="submit"] {
  margin: 20px 0 0 2.5%;
  background: #333;
  height: 50px;
  color: #fff;
  border-radius: 0px;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

div.mypage div.form input[type="submit"]:hover {
  color: #2bde73;
  background: #333;
}

@media (max-width: 800px) {
  div.mypage div.form input[type="submit"] {
    width: 100%;
  }
}

div.mypage div.form div.group {
  width: 100%;
  clear: both;
}

div.mypage div.form div.group div.form-group:not(.agree) {
  margin: 2.5%;
  width: 92.5%;
  position: relative;
}

div.mypage div.form div.group div.form-group:not(.agree).one-layout {
  clear: both;
}

div.mypage div.form div.group div.form-group:not(.agree).one-layout input[type="checkbox"] {
  width: 15px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
  left: -10px;
}

div.mypage div.form div.group div.form-group:not(.agree).one-layout ul {
  width: 100%;
  background: #eee;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 20px 0 0 0;
}

div.mypage div.form div.group div.form-group:not(.agree).one-layout ul li {
  float: left;
}

div.mypage div.form div.group div.form-group:not(.agree).one-layout ul li label {
  font-size: 12px;
}

div.mypage div.form div.group div.form-group:not(.agree).one-layout ul p {
  clear: both;
  padding: 20px 0 0 20px;
  color: red;
}

div.mypage div.form div.group div.form-group:not(.agree):not(.half-layout):not(.semi-layout):not(.triple-layout) {
  clear: both;
}

div.mypage div.form div.group div.form-group:not(.agree).half-layout {
  float: left;
  width: 42.5%;
  margin: 10px 2.5%;
}

@media (max-width: 800px) {
  div.mypage div.form div.group div.form-group:not(.agree).half-layout {
    width: 90%;
  }
}

div.mypage div.form div.group div.form-group:not(.agree).half-layout input {
  width: 100%;
}

div.mypage div.form div.group div.form-group:not(.agree).half-layout select {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 0 5px;
}

div.mypage div.form div.group div.form-group:not(.agree).semi-layout {
  float: left;
  width: 22%;
  margin: 10px 1%;
}

div.mypage div.form div.group div.form-group:not(.agree).semi-layout input {
  width: 80%;
}

div.mypage div.form div.group div.form-group:not(.agree).semi-layout span {
  right: 20px;
}

@media (max-width: 480px) {
  div.mypage div.form div.group div.form-group:not(.agree).semi-layout {
    width: 42.5%;
    margin: 10px 2.5%;
  }
}

div.mypage div.form div.group div.form-group:not(.agree).triple-layout {
  float: left;
  width: 28.83333333333333333333333333333%;
  margin: 10px 1.5%;
}

div.mypage div.form div.group div.form-group:not(.agree).triple-layout input:not([type="radio"]) {
  width: 90%;
}

div.mypage div.form div.group div.form-group:not(.agree).triple-layout input[type="radio"] {
  width: 15px;
  margin: 0;
  padding: 0;
  position: relative;
  top: 10px;
}

div.mypage div.form div.group div.form-group:not(.agree).triple-layout span {
  right: 5px;
}

div.mypage div.form div.group div.form-group:not(.agree).triple-layout li {
  float: left;
}

@media (max-width: 480px) {
  div.mypage div.form div.group div.form-group:not(.agree).triple-layout li {
    float: initial;
  }
}

div.mypage div.form div.group div.form-group:not(.agree) span {
  position: absolute;
  top: 36px;
  right: 0;
  color: #aaa;
}

div.mypage div.form div.group.notice-group {
  clear: both;
  margin: 20px 0;
}

div.mypage div.form div.group.notice-group li {
  border: 1px solid #ddd;
  height: 50px;
  margin-top: -1px;
  border-collapse: collapse;
  position: relative;
}

div.mypage div.form div.group.notice-group li.warning {
  border: 1px solid indianred;
}

div.mypage div.form div.group.notice-group li h3 {
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-indent: 20px;
  margin: 0;
}

div.mypage div.form div.group.notice-group li h3 a {
  position: absolute;
  right: 30px;
  font-size: 20px;
}

div.mypage div.form div.group.notice-group li h3 a:hover {
  text-decoration: none;
}

div.mypage div.form div.group.notice-group li label.error {
  position: absolute;
  top: 2px;
  left: 200px;
}

div.mypage div.form div.group.notice-group div.slide {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.mypage div.form div.group.notice-group div.slide.fadein {
  height: 230px;
}

div.mypage div.form div.group.notice-group div.slide div.form-group {
  width: 200px;
  float: right;
}

div.mypage div.form div.group.notice-group div.slide div.form-group.agree {
  text-align: right;
}

div.mypage div.form div.group.notice-group div.slide div.form-group.agree input {
  position: relative;
  top: 2px;
}

div.mypage div.form div.group.notice-group div.slide div.notice {
  margin: -1px 0;
  width: 100%;
  border: 1px solid #ddd;
  height: 200px;
  overflow-y: scroll;
}

div.mypage div.form div.group.notice-group div.slide div.notice.policy {
  height: 231px;
}

div.mypage div.form div.group div.checkbox {
  width: 100%;
  height: 20px;
  text-align: right;
  line-height: 20px;
}

div.mypage div.form div.group div.checkbox label {
  margin: 0;
  font-size: 12px;
  letter-spacing: -1px;
  cursor: pointer;
}

div.mypage div.form div.group div.checkbox label i {
  font-size: 15px;
}

div.mypage div.form div.group div.checkbox label i.active {
  color: #2bde73;
}

div.mypage div.form div.link-group {
  padding-top: 10px;
  text-align: center;
}

div.mypage div.form div.link-group a {
  display: inline;
  color: #777;
  margin-right: 10px;
}

div.mypage div.form div.link-group a i {
  font-size: 15px;
  color: #2bde73;
}

div.mypage div.form div.link-group a:hover {
  text-decoration: underline;
}

div.page.mypage {
  clear: both;
}

div.page.mypage nav {
  float: right;
  left: -50%;
  position: relative;
  margin: 20px auto 50px auto;
}

div.page.mypage nav ul {
  position: relative;
  left: 50%;
  width: 100%;
}

div.page.mypage nav ul li {
  float: left;
  padding: 0 20px;
  margin: 0 10px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  div.page.mypage nav ul li {
    width: 25%;
    margin: 0;
    padding: 0;
  }
  div.page.mypage nav ul li:nth-child(5), div.page.mypage nav ul li:last-child {
    width: 50%;
  }
}

div.page.mypage nav ul li a {
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  color: #333;
}

div.page.mypage nav ul li.active {
  border-bottom: 3px solid #2bde73;
}

div.page.mypage nav ul li.active a {
  color: #2bde73;
}

div.page.mypage div.my-wrap {
  clear: both;
}

div.page.mypage div.my-wrap > div {
  float: left;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.page.mypage div.my-wrap > div.user_profile {
  width: 28%;
  margin: 0 1%;
  height: 350px;
}

@media (max-width: 800px) {
  div.page.mypage div.my-wrap > div.user_profile {
    clear: both;
    width: 98%;
    margin: 1%;
  }
}

div.page.mypage div.my-wrap > div.user_profile div.thumbnail {
  margin: 20px auto;
  width: 120px;
  height: 120px;
  border: 1px solid #ddd;
  border-radius: 60px;
  background: #eee;
}

div.page.mypage div.my-wrap > div.user_profile p {
  font-size: 13px;
  line-height: 0.9;
  text-align: center;
}

div.page.mypage div.my-wrap > div.user_profile p.name {
  font-size: 24px;
  font-weight: bold;
}

div.page.mypage div.my-wrap > div.fav-list {
  width: 68%;
  margin: 0 1%;
  height: 350px;
  overflow: hidden;
}

@media (max-width: 800px) {
  div.page.mypage div.my-wrap > div.fav-list {
    clear: both;
    width: 98%;
    height: 650px;
    margin: 1%;
  }
}

@media (max-width: 480px) {
  div.page.mypage div.my-wrap > div.fav-list {
    height: 1250px;
  }
}

div.page.mypage div.my-wrap > div.fav-list ul {
  width: 100%;
  height: 100%;
}

div.page.mypage div.my-wrap > div.fav-list ul li {
  position: relative;
  width: 25%;
  height: 300px;
  float: left;
  border-right: 1px solid #eee;
  box-sizing: border-box;
  overflow: hidden;
}

@media (max-width: 800px) {
  div.page.mypage div.my-wrap > div.fav-list ul li {
    width: 50%;
  }
}

@media (max-width: 480px) {
  div.page.mypage div.my-wrap > div.fav-list ul li {
    width: 100%;
  }
}

div.page.mypage div.my-wrap > div.fav-list ul li img {
  left: 50%;
  height: 100%;
  width: auto;
  clear: both;
}

div.page.mypage div.my-wrap > div.fav-list ul li div.detail-box {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  bottom: 0;
  font-size: 13px;
  line-height: 1.0;
  text-align: center;
}

div.page.mypage div.my-wrap > div.fav-list ul li div.detail-box p {
  padding: 0 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.page.mypage div.my-wrap > div.fav-list ul li div.detail-box p:first-child {
  font-weight: bold;
}

div.page.mypage div.my-wrap > div.fav-list ul li div.detail-box p a {
  color: #333;
}

div.page.mypage div.my-wrap > div.book-list {
  clear: both;
  width: 98%;
  margin: 1% 1% 80px 1%;
}

div.page.mypage div.my-wrap > div.book-list li {
  width: 100px;
  float: left;
  padding: 10px;
}

div.page.mypage div.my-wrap > div.book-list li div.thumbnail {
  margin: 0 auto;
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50px;
}

div.page.mypage div.my-wrap > div.book-list li div.thumbnail img {
  width: auto;
  height: 100px;
}

div.page.mypage div.my-wrap > div.book-list li a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12px;
  color: #333;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.page.mypage div.my-wrap > div h2 {
  display: inline-block;
  margin: 0;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  font-size: 15px;
  line-height: 60px;
  color: #2bde73;
  box-sizing: border-box;
  position: relative;
}

div.page.mypage div.my-wrap > div h2 a {
  color: #333;
  position: absolute;
  font-size: 12px;
  right: 20px;
}

div.page.mypage div.my-wrap > div h2 a i {
  font-size: 20px;
}

/*# sourceMappingURL=app.css.map */
