@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
.hidden {
  display: none;
}

.active {
  color: #2bde73;
}

nav.nav-bar {
  width: 100%;
  height: 60px;
  background: #282828;
}

nav.nav-bar h1.logo {
  position: absolute;
  height: 60px;
  margin: 0;
  top: 0;
  left: 10%;
}

@media (max-width: 800px) {
  nav.nav-bar h1.logo {
    left: 50%;
    margin-left: -50px;
  }
}

nav.nav-bar h1.logo a {
  display: block;
  width: 90px;
  line-height: 60px;
}

nav.nav-bar h1.logo a img {
  margin: 0;
  font-size: 10px;
  width: 100%;
}

nav.nav-bar a.menu_btn {
  position: absolute;
  right: 20px;
  color: #fff;
  font-size: 20px;
  padding: 15px;
  line-height: 30px;
  text-decoration: none;
  display: none;
}

nav.nav-bar a.menu_btn:hover, nav.nav-bar a.menu_btn:active {
  text-decoration: none;
}

@media (max-width: 800px) {
  nav.nav-bar a.menu_btn {
    display: inline-block;
  }
}

nav.nav-bar ul.nav-group {
  width: 350px;
  position: absolute;
  right: 8%;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group {
    clear: both;
    width: 100%;
    top: 60px;
    right: 0;
    border: 1px solid #282828;
    background: rgba(0, 0, 0, 0.8);
  }
}

nav.nav-bar ul.nav-group > li {
  padding: 15px 10px;
  margin: 0 15px;
  line-height: 30px;
  font-size: 12px;
  float: left;
  position: relative;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li {
    padding: 20px 0;
    clear: both;
    width: 100%;
  }
}

nav.nav-bar ul.nav-group > li a {
  color: #fff;
}

nav.nav-bar ul.nav-group > li a i {
  color: #fff;
}

nav.nav-bar ul.nav-group > li a.current {
  color: #2bde73;
  font-weight: bold;
}

nav.nav-bar ul.nav-group > li div.sub_menu {
  width: 100px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 50%;
  margin-left: -50px;
  padding: 7px 0;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li div.sub_menu {
    position: initial;
    margin-left: 0;
    background: none;
    border: none;
    width: 100%;
  }
}

nav.nav-bar ul.nav-group > li div.sub_menu li {
  text-align: center;
  height: 25px;
  line-height: 25px;
  padding: 0;
  margin: 0;
  clear: both;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li div.sub_menu li {
    width: 33%;
    clear: none;
    float: left;
    height: 30px;
    line-height: 30px;
  }
}

nav.nav-bar ul.nav-group > li div.sub_menu li a {
  font-size: 12px;
  width: 100%;
  color: #333;
}

@media (max-width: 800px) {
  nav.nav-bar ul.nav-group > li div.sub_menu li a {
    color: #fff;
  }
}

div.footer {
  clear: both;
  width: 100%;
  border-top: 1px solid #ddd;
}

div.footer div.wrap-footer {
  width: 60%;
  min-width: 800px;
  margin: 0 auto;
}

div.footer div.wrap-footer div {
  float: left;
  width: 21%;
  padding: 2%;
}

div.footer div.wrap-footer div img {
  width: 90px;
}

div.footer div.wrap-footer div h2 {
  font-size: 16px;
  letter-spacing: 3px;
  margin: 40px 0;
}

div.footer div.wrap-footer div p {
  font-size: 12px;
  line-height: 1.0;
  letter-spacing: -0.7px;
  color: #aaa;
}

div.footer div.wrap-footer div a {
  color: #aaa;
}

div.footer div.wrap-footer div a.contact_mail {
  color: #2bde73;
}

div.footer div.wrap-footer div:first-child p {
  color: #2bde73;
  font-weight: bold;
}

@media (max-width: 800px) {
  div.footer div.wrap-footer div {
    width: 42%;
  }
  div.footer div.wrap-footer div.site-link {
    display: none;
  }
}

@media (max-width: 800px) {
  div.footer div.wrap-footer {
    width: 100%;
    min-width: initial;
  }
}

div.footer div.wrap-footer em {
  display: inline-block;
  width: 100%;
  margin: 30px 0;
  height: 50px;
  line-height: 50px;
  clear: both;
  font-size: 11px;
  font-style: normal;
  color: #666;
  text-align: center;
}

@media (max-width: 800px) {
  div.footer div.wrap-footer em {
    margin: 0;
  }
}

div.page.list {
  width: 60%;
  min-width: 800px;
  margin: 20px auto;
}

@media (max-width: 800px) {
  div.page.list {
    width: 90%;
    min-width: initial;
  }
}

div.page.list ul.list-group {
  width: 100%;
  height: 300px;
}

div.page.list ul.list-group li {
  width: 23%;
  list-style: none;
  float: left;
  margin: 20px 1%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 3px #ddd;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  div.page.list ul.list-group li {
    width: 48%;
  }
}

div.page.list ul.list-group li.shop {
  text-align: center;
}

div.page.list div.img-box {
  width: 100%;
  background: #fff;
  overflow: hidden;
}

div.page.list div.img-box img {
  width: 100%;
  height: auto;
}

div.page.list div.img-box.shop {
  height: 130px;
}

div.page.list div.detail-box {
  width: 100%;
}

div.page.list div.detail-box#shop {
  position: relative;
  top: -40px;
}

div.page.list div.detail-box#shop p {
  border-top: none;
}

div.page.list div.detail-box a.prod-title {
  color: #222;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

div.page.list div.detail-box a.category {
  font-size: 10px;
  font-weight: bold;
  padding: 3px 7px;
  margin: 0.5px;
  color: #fff;
  border-radius: 5px;
}

div.page.list div.detail-box a.category_1 {
  background: indianred;
}

div.page.list div.detail-box a.category_2 {
  background: yellowgreen;
}

div.page.list div.detail-box a.category_3 {
  background: cornflowerblue;
}

div.page.list div.detail-box a.category_4 {
  background: lightpink;
}

div.page.list div.detail-box a.category_5 {
  background: rebeccapurple;
}

div.page.list div.detail-box p {
  display: block;
  width: 2300/24%;
  margin: 0;
  padding: 0 10px;
  clear: both;
}

div.page.list div.detail-box p:not(.prod_category) {
  height: 40px;
  line-height: 40px;
  border-top: 1px solid #eee;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

div.page.list div.detail-box p.prod_category {
  height: 80px;
  line-height: 1.5;
}

div.page.list div.detail-box p.prod-shop {
  color: #666;
  font-size: 11px;
}

div.page.list div.detail-box p.prod-price {
  color: dodgerblue;
  font-size: 14px;
  font-weight: bold;
  display: block;
}

div.page.list div.detail-box p.prod-price span {
  float: right;
  height: 100%;
  padding-left: 10px;
  border-left: 1px solid #eee;
}

div.page.list div.detail-box p.prod-price span i.fa-heart {
  color: hotpink;
}

div.page.list div.detail-box p.prod-price span i.fa-heart-o {
  color: #ccc;
}

div.page.list div.bookmark {
  float: left;
  position: relative;
  top: -30px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 50px;
  background: #fff;
}

div.page.list div.bookmark i {
  font-size: 30px;
  line-height: 50px;
}

div.page.list div.bookmark i.fa-star {
  color: #ffcc00;
}

div.page.list div.bookmark i.fa-star-o {
  color: #ccc;
}

div.pagination {
  float: right;
  position: relative;
  left: -50%;
  margin-bottom: 80px;
}

div.pagination ul.pagination {
  position: relative;
  left: 50%;
  padding: 0;
  margin: 50px auto;
  clear: both;
  display: block;
}

div.pagination ul.pagination li {
  float: left;
  padding: 5px 10px;
  margin: 5px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 11px;
  font-weight: bold;
}

div.pagination ul.pagination li a {
  color: #666;
}

div.page.shop-apply {
  margin: 30px auto 100px auto;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 20px;
  width: 800px;
  font-size: 12px;
}

@media (max-width: 800px) {
  div.page.shop-apply {
    width: 95%;
  }
}

div.page.shop-apply h1, div.page.shop-apply h2 {
  font-size: 16px;
}

div.page.shop-apply label.agree {
  width: 90%;
}

div.page.shop-apply input.user_email {
  background: #eee;
}

div.page.shop-apply input:not(.agree) {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 5px 0;
  padding: 8px 10px;
}

div.page.shop-apply input[type="submit"] {
  background: #fff;
  height: 50px;
  border-radius: 0px;
}

div.page.shop-apply input[type="submit"]:hover {
  background: lightgreen;
}

div.page.shop-apply div.group {
  width: 100%;
  clear: both;
}

div.page.shop-apply div.group div.form-group:not(.agree) {
  margin: 10px 0;
}

div.page.shop-apply div.group div.form-group:not(.agree):not(.half-layout) {
  width: 95%;
}

div.page.shop-apply div.group div.form-group:not(.agree).half-layout {
  float: left;
  width: 45%;
  margin-right: 5%;
}

@media (max-width: 800px) {
  div.page.shop-apply div.group div.form-group:not(.agree).half-layout {
    width: 95%;
  }
}

div.page.shop-apply div.group.notice-group {
  clear: both;
  margin: 20px 0;
}

div.page.shop-apply div.group.notice-group li {
  border: 1px solid #ddd;
  height: 50px;
  margin-top: -1px;
  border-collapse: collapse;
  position: relative;
}

div.page.shop-apply div.group.notice-group li.warning {
  border: 1px solid indianred;
}

div.page.shop-apply div.group.notice-group li h2 {
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-indent: 20px;
  margin: 0;
}

div.page.shop-apply div.group.notice-group li h2 a {
  position: absolute;
  right: 30px;
  font-size: 20px;
}

div.page.shop-apply div.group.notice-group li h2 a:hover {
  text-decoration: none;
}

div.page.shop-apply div.group.notice-group li label.error {
  position: absolute;
  top: 2px;
  left: 170px;
}

div.page.shop-apply div.group.notice-group div.slide {
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

div.page.shop-apply div.group.notice-group div.slide.fadein {
  height: 230px;
}

div.page.shop-apply div.group.notice-group div.slide div.form-group {
  width: 200px;
  float: right;
}

div.page.shop-apply div.group.notice-group div.slide div.form-group.agree {
  text-align: right;
}

div.page.shop-apply div.group.notice-group div.slide div.form-group.agree input {
  position: relative;
  top: 2px;
}

div.page.shop-apply div.group.notice-group div.slide div.notice {
  margin: -1px 0;
  width: 100%;
  border: 1px solid #ddd;
  height: 200px;
  overflow-y: scroll;
}

div.page.shop-apply div.group.notice-group div.slide div.notice.policy {
  height: 231px;
}

form.ShopApply label.error, label.error {
  font-size: 11.5px;
  font-weight: bold;
  border: 1px dotted indianred;
  border-radius: 5px;
  margin: 7px 0;
  padding: 5px 10px;
  color: indianred;
  -webkit-transition: all 2s;
  transition: all 2s;
}

/*# sourceMappingURL=app.css.map */
