
div.mypage{
    form{
        margin:0 auto;
    }
    div.form{
        &.apply{
            width:800px;
            @include respond-to('small') {
                width:95%;
            }
        }
        &.login{
            width:450px;
            @include respond-to('small') {
                width:95%;
            }
        }
        width:50%;
        clear:both;
        margin:30px auto 100px auto;
        padding:30px 2.5% 100px 2.5%;
        border:1px solid #ddd;
        box-shadow:0 0 15px #ddd;
        background:#fff;
        border-radius:20px;
        font-size:12px;
        @include respond-to('small') {
            width:95%;
        }
        h2{
            display:block;
            width:180px;
            text-align:center;
            margin:30px auto 60px auto;
            font-size:30px;
            letter-spacing:-3px;
            border-bottom:4px solid $point-color;
        } 
        h3{
            clear:both;
            height:30px;
            line-height:30px;
            font-size:20px;
            font-weight:bold;
            text-indent:20px;
            border-left:3px solid $point-color;
            letter-spacing:-2px;
            margin-top:30px;
        }
        h4{
            margin:0;
            padding:0;
            font-size:13px;
            font-weight:bold;
        }
        label:not(.agree):not(.error){
            clear:both;
            font-size:13px;
            margin:10px;
        }
        label.agree{
            width:90%;
        }
        label.error, span.help-block strong{
            clear:both;
            font-size:11.5px;
            font-weight:bold;
            color:$point-color2;
            float:left;
        }
        input{
            background:#fff;
            &.user_email{
                background:#eee;
            }
            &:not(.agree){
                width:100%;
                height:30px;
                border:1px solid #ddd;
                border-radius:10px;
                margin:5px 0;
                padding:8px 10px;
                @include respond-to('small') {
                    width:95%;
                }
            }
            &[type="submit"]{
                margin:20px 0 0 0;
                background:#333;
                height:50px;
                color:#fff;
                border-radius:0px;
                font-weight:bold;
                font-size:15px;
                transition:all 0.2s;
                &:hover{
                    color:$point-color;
                    background:#333;
                }
                @include respond-to('small'){
                    width:100%;
                }
            }
        }
        div.group{
            width:100%;
            clear:both;
            position:relative;
            div.form-group:not(.agree){
                width:95%;
                position:relative;
                &.one-layout{
                    margin:2.5%;
                    width:90%;
                    clear:both;
                    input[type="checkbox"], input[type="radio"]{
                        width:15px;
                        margin:0;
                        padding:0;
                        position:relative;
                        top:10px;
                        left:-10px;
                    }
                    input{
                        width:100%;
                    }
                    &.button{
                        position:absolute;
                        top:-20px;
                        left:50%;
                        margin-left:-80px;
                        width:60px;
                        height:25px;
                        &.del{
                            margin-left:5px;
                            input:hover{
                                color:$point-color2;
                            }
                        }
                        input{
                            border-radius:10px;
                            font-size:13px;
                        }
                    }
                    ul{
                        width:100%;
                        &.purpose{
                            height:50px;
                        }
                        &.for_game_check{
                            clear:both;
                            background:#eee;
                            border:1px solid #ddd;
                            border-radius:5px;
                            opacity:0.7;
                        }
                        li{
                            float:left;
                            label{
                                font-size:12px;
                            }
                        }
                        p{
                            clear:both;
                            padding:20px 0 0 20px;
                            color:red;
                        }
                    }
                }
                &:not(.half-layout):not(.semi-layout):not(.triple-layout){
                    clear:both;
                }
                &.half-layout{
                    float:left;
                    width:42.5%;
                    margin:10px 2.5%;
                    @include respond-to('small') {
                        width:90%;
                    }
                    input{
                        width:100%;
                    }
                    select{
                        width:100%;
                        height:50px;
                        border-radius:10px;
                        border:1px solid #ddd;
                        padding:0 5px;
                        margin:0;
                    }
                    a{
                        display:block;
                        margin:10px;
                        width:50px;
                        height:30px;
                        text-align:center;
                        line-height:30px;
                        border:1px solid #333;
                        color:#333;
                        font-weight:bold;
                        transition:all 0.2s;
                        &:hover{
                            background:$point-color;
                            color:#fff;
                        }
                    }
                }
                &.semi-layout{
                    float:left;
                    width:20%;
                    margin:10px 2.5%;
                    input{
                        width:80%;
                    }
                    span{
                        right:20px;
                    }
                    @include respond-to('too-small'){
                        width:42.5%;
                        margin:10px 2.5%;
                    }
                }
                &.triple-layout{
                    float:left;
                    width:28.3333333333333333333333333333%;
                    margin:10px 2.5%;
                    input:not([type="radio"]){
                        width:90%;
                    }
                    input[type="radio"]{
                        width:15px;
                        margin:0;
                        padding:0;
                        position:relative;
                        top:10px;
                    }
                    span{
                        right:5px;
                    }
                    li{
                        float:left;
                        @include respond-to('too-small'){
                            float:initial;
                        }
                    }
                }
                span{
                    position:absolute;
                    top:36px;
                    right:0;
                    color:#aaa;
                }
                div.image-logo{
                    clear:both;
                    width:90%;
                    margin:10px 5%;
                    img{
                        border:1px solid #ddd;
                        width:100%;
                        height:auto;
                    }
                }
            }
            &.notice-group{
                clear:both;
                margin:20px 0;
                li{
                    border:1px solid #ddd;
                    height:50px;
                    margin-top:-1px;
                    border-collapse:collapse;
                    position:relative;
                    &.warning{
                        border:1px solid indianred;
                    }
                    h3{
                        width:100%;
                        height:100%;
                        line-height:50px;
                        text-indent:20px;
                        margin:0;
                        a{
                            position:absolute;
                            right:30px;
                            font-size:20px;
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }
                    label.error{
                        position:absolute;
                        top:2px;
                        left:200px;
                    }
                }
                div.slide{
                    height:0;
                    overflow:hidden;
                    transition:all 0.5s;
                    &.fadein{
                        height:230px;
                    }
                    div.form-group{
                        width:200px;
                        float:right;
                        &.agree{
                            text-align:right;
                            input{
                                position:relative;
                                top:2px;
                            }
                        }
                    }
                    div.notice{
                        margin:-1px 0;
                        width:100%;
                        border:1px solid #ddd;
                        height:200px;
                        overflow-y:scroll;
                        &.policy{
                            height:231px;
                        }
                    }
                }
            }
            div.checkbox{
                width:100%;
                height:20px;
                text-align:right;
                line-height:20px;
                label{
                    margin:0;
                    font-size:12px;
                    letter-spacing:-1px;
                    cursor:pointer;
                    i{
                        font-size:15px;
                        &.active{
                            color:$point-color;
                        }
                    }
                }
            }
        }
        div.link-group{
            padding-top:10px;
            text-align:center;
            a{
                display:inline;
                color:#777;
                margin-right:10px;
                i{
                    font-size:15px;
                    color:$point-color;
                }
                &:hover{
                    text-decoration:underline;
                }
            }
        }
    }
}