
div.mypage{
    form{
        margin:0 auto;
    }
    div.form{
        &.apply{
            width:800px;
            @include respond-to('small') {
                width:95%;
            }
        }
        width:50%;
        clear:both;
        margin:30px auto 100px auto;
        padding:30px 2.5% 100px 2.5%;
        border:1px solid #ddd;
        box-shadow:0 5px 10px #eee;
        background:#fff;
        border-radius:20px;
        font-size:12px;
        @include respond-to('small') {
            width:95%;
        }
        h2{
            display:block;
            width:180px;
            text-align:center;
            margin:30px auto 60px auto;
            font-size:30px;
            letter-spacing:-3px;
            border-bottom:4px solid $point-color;
        } 
        
        h3{
            clear:both;
            height:30px;
            line-height:30px;
            font-size:20px;
            font-weight:bold;
            text-indent:20px;
            border-left:3px solid $point-color;
            letter-spacing:-2px;
            margin-top:30px;
        }
        label:not(.agree):not(.error){
            clear:both;
            font-size:15px;
            margin:10px;
        }
        label.agree{
            width:90%;
        }
        label.error{
            margin:10px 0;
        }
        input{
            &.user_email{
                background:#eee;
            }
            &:not(.agree){
                width:100%;
                height:30px;
                border:1px solid #ddd;
                border-radius:10px;
                margin:5px 0;
                padding:8px 10px;
            }
            &[type="submit"]{
                margin-top:50px;
                background:#fff;
                height:50px;
                border-radius:0px;
                font-weight:bold;
                font-size:15px;
                
                &:hover{
                    color:$point-color;
                    background:#333;
                }
            }
        }
        div.group{
            width:100%;
            clear:both;
            div.form-group:not(.agree){
                margin:2.5%;
                &:not(.half-layout){
                    width:90%;
                    clear:both;
                }
                &.half-layout{
                    float:left;
                    width:42.5%;
                    margin:10px 2.5%;
                    @include respond-to('small') {
                        width:90%;
                    }
                }
            }
            &.notice-group{
                clear:both;
                margin:20px 0;
                li{
                    border:1px solid #ddd;
                    height:50px;
                    margin-top:-1px;
                    border-collapse:collapse;
                    position:relative;
                    &.warning{
                        border:1px solid indianred;
                    }
                    h3{
                        width:100%;
                        height:100%;
                        line-height:50px;
                        text-indent:20px;
                        margin:0;
                        a{
                            position:absolute;
                            right:30px;
                            font-size:20px;
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }
                    label.error{
                        position:absolute;
                        top:2px;
                        left:200px;
                    }
                }
                div.slide{
                    height:0;
                    overflow:hidden;
                    transition:all 0.5s;
                    &.fadein{
                        height:230px;
                    }
                    div.form-group{
                        width:200px;
                        float:right;
                        &.agree{
                            text-align:right;
                            input{
                                position:relative;
                                top:2px;
                            }
                        }
                    }
                    div.notice{
                        margin:-1px 0;
                        width:100%;
                        border:1px solid #ddd;
                        height:200px;
                        overflow-y:scroll;
                        &.policy{
                            height:231px;
                        }
                    }
                }
            }
        }
    }
}