
div.page.mypage{
    clear:both;
    nav{
        float:right;
        left:-50%;
        position:relative;
        margin:20px auto 50px auto; 
        ul{
            position:relative;
            left:50%;
            li{
                float:left;
                padding:10px 20px;
                a{
                    font-size:13px;
                    font-weight:bold;
                    color:#333;
                }
                &.active{
                    border-bottom:3px solid $point-color;
                    a{
                        color:$point-color;
                    }
                }
            }
        }
    }
    div.my-wrap{
        clear:both;
        > div{
            float:left;
            border:1px solid #ddd;
            box-shadow:0 0 10px #ddd;
            margin:0;
            padding:0;
            box-sizing:border-box;
            &.user_profile{
                width:28%;
                margin:0 1%;
                height:350px;
                @include respond-to('small'){
                    clear:both;
                    width:98%;
                    margin:1%;
                }
                div.thumbnail{
                    margin:20px auto;
                    width:120px;
                    height:120px;
                    border:1px solid #ddd;
                    border-radius:60px;
                    background:#eee;
                }
                p{
                    font-size:13px;
                    line-height:0.9;
                    text-align:center;
                    &.name{
                        font-size:24px;
                        font-weight:bold;
                    }
                }
            }
            &.fav-list{
                width:68%;
                margin:0 1%;
                height:350px;
                overflow:hidden;
                @include respond-to('small'){
                    clear:both;
                    width:98%;
                    height:650px;
                    margin:1%;
                }
                @include respond-to('too-small'){
                    height:1250px;
                }
                ul{
                    width:100%;
                    height:100%;
                    li{
                        position:relative;
                        width:25%;
                        height:300px;
                        float:left;
                        border-right:1px solid #eee;
                        box-sizing:border-box;
                        overflow:hidden;
                        @include respond-to('small'){
                            width:50%;
                        }
                        @include respond-to('too-small'){
                            width:100%;
                        }
                        img{
                            left:50%;
                            height:100%;
                            width:auto;
                            clear:both;
                        }
                        div.detail-box{
                            width:100%;
                            height:80px;
                            background:#fff;
                            position:absolute;
                            bottom:0;
                            font-size:13px;
                            line-height:1.0;
                            text-align:center;
                            p{
                                padding:0 10px;
                                text-overflow:ellipsis;
                                overflow:hidden;
                                white-space:nowrap;
                                &:first-child{
                                    font-weight:bold;
                                }
                            }
                        }
                    }
                }
            }
            &.book-list{
                clear:both;
                width:98%;
                margin:1% 1% 80px 1%;
                li{
                    width:100px;
                    float:left;
                    padding:10px;
                    div.thumbnail{
                        margin:0 auto;
                        width:80px;
                        height:80px;
                        overflow:hidden;
                        border-radius:50px;
                        img{
                            width:auto;
                            height:100px;
                        }
                    }
                    a{
                        display:inline-block;
                        width:100%;
                        text-align:center;
                        font-size:12px;
                        color:#333;
                        text-overflow:ellipsis;
                        overflow:hidden;
                        white-space:nowrap;
                    }
                }
            }
            h2{
                display:inline-block;
                margin:0;
                padding:0 20px;
                width:100%;
                height:60px;
                border-bottom:1px solid #ddd;
                font-size:15px;
                line-height:60px;
                color:$point-color;
                box-sizing:border-box;
                position:relative;
                a{
                    color:#333;
                    position:absolute;
                    font-size:12px;
                    right:20px;
                    i{
                        font-size:20px;
                    }
                }
            }
        }
    }
}