
/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
    $breakpoints: (
    'too-small': (max-width: 480px),
    'small': (max-width: 800px),
    );
/// @requires $breakpoints
    @mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
        );

        @media #{$query} {
        @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
    }

/// Color;
    $point-color:rgba(43,222,115,1.0);


/// Nav Css
    .hidden{
        display:none;
    }
    .active, .active:focus{
        background:$point-color;
        color:#fff;
        a{
            color:$point-color;
        }
    }
    nav.nav-bar{
        width:100%;
        height:60px;
        background:#282828;
        z-index:50;
        h1.logo{
            position:absolute;
            height:60px;
            margin:0;
            top:0;
            left:10%;
            @include respond-to('small') {
                left:50%;
                margin-left:-50px;
            }
            a{
                display:block;
                width:90px;
                line-height:60px;
                img{
                    margin:0;
                    font-size:10px;
                    width:100%;
                }
            }
        }
        a.menu_btn{
            position:absolute;
            right:20px;
            color:#fff;
            font-size:20px;
            padding:15px;
            line-height:30px;
            text-decoration:none;
            display:none;
            &:hover, &:active{
                text-decoration:none;
            }
            @include respond-to('small') {
                display:inline-block;
            }
        }
        ul.nav-group{
            width:350px;
            position:absolute;
            right:8%;
            z-index:40;
            @include respond-to('small') {
                clear:both;
                width:100%;
                top:60px;
                right:0;
                border:1px solid #282828;
                background:rgba(0,0,0,0.8);
            }
            & > li{
                padding:15px 10px;
                margin:0 15px;
                line-height:30px;
                font-size:12px;
                float:left;
                position:relative;
                @include respond-to('small') {
                    padding:20px 0;
                    clear:both;
                    width:100%;
                }
                a{
                    color:#fff;
                    i{
                        color:#fff;
                    }
                    &.current{
                        color:$point-color;
                        font-weight:bold;
                    }
                }
                div.sub_menu{
                    width:100px;
                    background:#fff;
                    border:1px solid #ddd;
                    border-radius:10px;
                    position:absolute;
                    top:50px;
                    left:50%;
                    margin-left:-50px;
                    padding:7px 0;
                    @include respond-to('small') {
                        position:initial;
                        margin-left:0;
                        background:none;
                        border:none;
                        width:100%;
                    }
                    li{
                        text-align:center;
                        height:25px;
                        line-height:25px;
                        padding:0;
                        margin:0;
                        clear:both;
                        @include respond-to('small'){
                            width:33%;
                            clear:none;
                            float:left;
                            height:30px;
                            line-height:30px;
                        }
                        a{
                            font-size:12px;
                            width:100%;
                            color:#333;
                            @include respond-to('small'){ 
                                color:#fff;
                            }
                        }
                    }    
                }
            }
        }

    }
/// Footer CSS
    div.footer{
        clear:both;
        width:100%;
        border-top:1px solid #ddd;
        z-index:30;
        div.wrap-footer{
            width:60%;
            min-width:800px;
            margin:0 auto;
            @include respond-to('small'){
                text-align:center;
            }
            div{
                float:left;
                width:21%;
                padding:2%;
                img{
                    width:90px;
                }
                h2{
                    font-size:16px;
                    letter-spacing:3px;
                    margin:40px 0;
                }
                p{
                    font-size:12px;
                    line-height:1.0;
                    letter-spacing:-0.7px;
                    color:#aaa;
                }
                a{
                    color:#aaa;
                    &.contact_mail{
                        color:$point-color;
                    }
                }
                &:first-child{
                    p{
                        color:$point-color;
                        font-weight:bold;
                    }
                }
                @include respond-to('small'){
                    width:42%;
                }
                @include respond-to('too-small'){
                    width:96%;
                }
            }
            @include respond-to('small'){
                width:100%;
                min-width:initial;
            }
            em{
                display:inline-block;
                width:100%;
                margin:30px 0;
                height:50px;
                line-height:50px;
                clear:both;
                font-size:11px;
                font-style:normal;
                color:#666;
                text-align:center;
                @include respond-to('small'){
                    margin:0;
                }
            }
        }
    }