
/// 반응형 매니저
/// @access public
/// @param {String} $breakpoint - 브레이크포인트
    $breakpoints: (
    'too-small': (max-width: 480px),
    'small': (max-width: 800px),
    'medium' : (max-width: 1200px),
    );
/// @requires $breakpoints
    @mixin respond-to($breakpoint) {
    $raw-query: map-get($breakpoints, $breakpoint);

    @if $raw-query {
        $query: if(
        type-of($raw-query) == 'string',
        unquote($raw-query),
        inspect($raw-query)
        );

        @media #{$query} {
        @content;
        }
    } @else {
        @error 'No value found for `#{$breakpoint}`. '
            + 'Please make sure it is defined in `$breakpoints` map.';
    }
    }

/// Color;
    $point-color:rgba(43,222,115,1.0);
    $point-color2:#FA5858;

///공통스타일
    body{
        padding-bottom:100px;
    }

/// Loading
    div.alert.alert-success{
        color:#31B404;
        margin-bottom:10px;
        font-size:11.5px;
        font-weight:bold;
    }
/// Error Page
    a.error.btn{
        letter-spacing:-2px;
        font-weight:bold;
        background:#333;
        font-size:13px;
        color:#fff;
        padding:5px 10px;
        border-radius:5px;
        margin:0 5px;
        transition:all 0.5s;
        &:hover{
            color:$point-color;
        }
    }
/// Nav Css
    .hidden{
        display:none;
    }
    nav.nav-bar{
        width:100%;
        height:60px;
        background:#282828;
        z-index:50;
        h1.logo{
            position:absolute;
            height:60px;
            margin:0;
            top:0;
            left:10%;
            @include respond-to('small') {
                left:50%;
                margin-left:-50px;
            }
            a{
                display:block;
                width:90px;
                line-height:60px;
                img{
                    margin:0;
                    font-size:10px;
                    width:100%;
                }
            }
        }
        a.menu_btn{
            position:absolute;
            right:20px;
            color:#fff;
            font-size:20px;
            padding:15px;
            line-height:30px;
            text-decoration:none;
            display:none;
            &:hover, &:active{
                text-decoration:none;
            }
            @include respond-to('small') {
                display:inline-block;
            }
        }
        ul.nav-group{
            width:500px;
            position:absolute;
            right:5%;
            z-index:40;
            display:block;
            @include respond-to('small') {
                clear:both;
                width:100%;
                top:60px;
                right:0;
                border:1px solid #282828;
                background:#333;
                display:none;
                &.show{
                    display:block;
                }
            }
            & > li{
                padding:14px 10px;
                text-align:center;
                margin:0 3px;
                line-height:30px;
                font-size:13px;
                float:left;
                position:relative;
                @include respond-to('small') {
                    border-top:1px solid #282828;
                    border-bottom:1px solid #282828;
                    box-sizing:border-box;
                    margin:-1px 0 0 0;
                    padding:0;
                    clear:both;
                    width:100%;
                }
                &:first-child{
                    margin:0 2px;
                }
                &.submenu{
                    margin:0 2px;
                    padding:14px 5px;
                    font-size:11px;
                    @include respond-to('small') {
                        box-sizing:border-box;
                        padding:0;
                        margin:-1px 0 0 0;
                        clear:initial;
                        width:25%;
                        height:40px;
                        a{
                            line-height:40px;
                        }
                    }
                }
                a{
                    display:inline-block;
                    color:#fff;
                    max-width:100px;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    white-space:nowrap;
                    @include respond-to('small') {
                        max-width:initial;
                        display:block;
                        height:100%;
                        width:100%;
                        height:50px;
                        line-height:50px;
                        background:#333;
                        &:hover{
                            font-weight:bold;
                            background:#282828;
                        }
                        &:active{
                            font-weight:bold;
                            background:#282828;
                            color:$point-color;
                        }
                    }
                    i{
                        color:#fff;
                    }
                    &.active{
                        color:$point-color;
                        font-weight:bold;
                    }
                }
                div.sub_menu{
                    width:100px;
                    background:#fff;
                    border:1px solid #ddd;
                    border-radius:10px;
                    position:absolute;
                    top:50px;
                    left:50%;
                    margin-left:-50px;
                    padding:7px 0;
                    @include respond-to('small') {
                        position:initial;
                        padding:0;
                        margin-left:0;
                        background:none;
                        border:none;
                        width:100%;
                    }
                    li{
                        text-align:center;
                        height:25px;
                        line-height:25px;
                        padding:0;
                        margin:0;
                        clear:both;
                        @include respond-to('small'){
                            width:33.3333333333333333333333333333333%;
                            clear:none;
                            float:left;
                            height:40px;
                            line-height:25px;
                            background:#333;                     
                        }
                        a{
                            font-size:12px;
                            width:100%;
                            color:#333;
                            @include respond-to('small'){ 
                                color:#fff;
                                line-height:40px;
                                height:initial;
                                box-sizing:border-box;
                                border-top:1px solid #282828;   
                            }
                        }
                    }    
                }
            }
        }

    }
    nav.tabmenu-wrap{
        position:fixed;
        top:25%;
        right:-95px;
        z-index:39;
        transition:all 1s;
        @include respond-to('too-small'){
            top:0;
        }
        &.active{
            right:0;
        }
        a.button{
            display:block;
            float:left;
            width:25px;
            height:90px;
            position:relative;
            top:420px;
            text-align:center;
            background:#fff;
            border-left:1px #ccc solid;
            border-right:1px #fff solid;
            border-bottom:1px #ccc solid;
            border-top:1px #ccc solid;
            border-radius:5px 0 0 5px;
            i{
                font-size:20px;
                line-height:90px;
                color:$point-color;
            }
        }
        div.tabmenu{
            width:90px;
            border:1px solid #ccc;
            background:#fff;
            float:left;
            overflow:hidden;
            ul >li {
                text-align:center;
                font-size:12px;
                letter-spacing:-1px;
                font-weight:bold;
                padding:3px 0;
                color:#444;
                a.logo{
                    display:block;
                    width:60%;
                    height:30.98px;
                    margin:10px auto;
                }
                img{
                    width:100%;
                    height:auto;
                }
                p.no-mrg{
                    margin:0 0 10px 0;
                }
                span.new{
                    position:absolute;
                    right:3px;
                    font-size:11px;
                    background:$point-color2;
                    color:#fff;
                    padding:1px 6px;
                    border-radius:10px;
                }
                a{
                    color:#444;
                    text-align:center;
                }
                ul{
                    border-top:1px solid #ddd;
                    border-bottom:1px solid #ddd;
                    width:80px;
                    height:347px;
                    margin:0 auto;
                    li{
                        width:55px;
                        height:55px;
                        margin:10px auto;
                        padding:0;
                        position:relative;
                        border:1px solid #ddd;
                        overflow:hidden;
                        a{
                            display:block;
                            width:100%;
                            height:100%;
                            position:absolute;
                            top:0;
                            &:hover{
                                background:rgba(0,0,0,0.2);
                            }
                            div{
                                width:100%;
                                height:100%;
                            }
                        }
                    }
                }
            }
        }
    }
/// Footer CSS
    div.footer{
        clear:both;
        width:100%;
        border-top:1px solid #ddd;
        z-index:30;
        background:#fff;
        div.wrap-footer{
            width:60%;
            min-width:800px;
            margin:0 auto;
            @include respond-to('small'){
                text-align:center;
            }
            div{
                float:left;
                width:25%;
                padding:2%;
                box-sizing:border-box;
                &:nth-child(3){
                    width:30%;
                    @include respond-to('small'){
                        width:50%;
                    }
                    @include respond-to('too-small'){
                        width:100%;
                    }
                }
                &:nth-child(4){
                    width:20%;
                    @include respond-to('small'){
                        width:50%;
                    }
                    @include respond-to('too-small'){
                        width:100%;
                    }
                }
                &.one-layout{
                    width:100%;
                    padding:0;
                }
                &.document{
                    margin-top:85px;
                    a{
                        color:#333;
                        font-weight:bold;
                        &:hover{
                            color:$point-color;
                        }
                    }
                    @include respond-to('small'){
                        margin-top:0;
                    }
                }
                img{
                    width:90px;
                }
                h2{
                    font-size:16px;
                    letter-spacing:3px;
                    margin-top:40px;
                }
                p{
                    font-size:12px;
                    line-height:1.0;
                    letter-spacing:-0.7px;
                    color:#999;
                    &.company{
                        font-size:13px;
                        color:#333;
                        font-weight:bold;
                    }
                }
                a{
                    color:#999;
                    &.contact_mail{
                        color:$point-color;
                    }
                }
                &:first-child{
                    p{
                        color:$point-color;
                        font-weight:bold;
                    }
                }
                @include respond-to('small'){
                    width:50%;
                }
                @include respond-to('too-small'){
                    width:100%;
                }
            }
            @include respond-to('small'){
                width:100%;
                min-width:initial;
            }
            em{
                display:inline-block;
                width:100%;
                margin:30px 0;
                height:50px;
                line-height:50px;
                clear:both;
                font-size:11px;
                font-style:normal;
                color:#666;
                text-align:center;
                a{
                    &:hover{
                        color:$point-color;
                        text-decoration:underline;
                    }
                }
                @include respond-to('small'){
                    margin:0;
                }
            }
        }
    }
    div.pagination{
        padding-left:1px;
    }