div.page.detail{
    p.myprod-title{
        font-size:40px;
        color:#333;
        margin:50px 0 0 0;
        padding:0;
        letter-spacing: -4px;
        font-weight:bold;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        @include respond-to('small'){
            font-size:30px;
            letter-spacing: -2px;
        }
    }
    p.prod-url{
        font-size:15px;
        color:#333;
        margin:0;
        padding:0;
        letter-spacing:-0.5px;
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
    }
    div.image-box.detail{
        max-width:350px;
    }
    div.fav-group{
        margin:10px auto;
        width:60px;
        height:35px;
        padding:10px 5px;
        border:1px solid #ddd;
        border-radius:10px;
        box-shadow:0 0 10px #ddd;
        text-align:center;
        span{
            transform:rotate(45deg);
            font-size:11px;
            line-height:1.0;
            a{
                display:block;
                width:100%;
                height:100%;
                padding:0;
                margin:0;
                color:#444;
                font-weight:bold;
                i{
                    margin:0;
                    font-size:20px;
                    color:hotpink;
                }
                em{
                    font-style:normal;
                }
            }
        }
        &.not-show{
            border:none;
            box-shadow:none;
            height:0;
        }
    }
    div.link-group{
        padding:30px 0;
        width:100%;
        clear:both;
        @include respond-to('small'){
            width:100%;
            padding:20px 0;
        }
        a{
            display:block;
            width:100%;
            padding: 20px 0;
            text-align:center;
            background:#282828;
            color:#fff;
            font-size:15px;
            font-weight:bold;
            letter-spacing:-2px;
            &:hover{
                color:$point-color;
            }
        }
    }
}
div.page.list{
    ul.myProduct.similar{
        > li{
            padding:20px 2.5%;
            height:150px;
            @include respond-to('small'){
                height:430px;
            }
            @include respond-to('too-small'){
                height:470px;
            }
            &:last-child{
                margin-bottom:100px;
            }
            li{
                &.same{
                    color:$point-color2;
                    font-weight:bold;
                }
                span{
                    color:#333;
                }
            }
        }
        h3{
            font-size:20px;
            letter-spacing:-1px;
            margin-bottom:20px;
        }
    }
}  