
div.page.list{
    width:80%;
    max-width:1200px;
    min-width:800px;
    margin:20px auto;
    @include respond-to('small'){
        width:90%;
        min-width:initial;
    }
    div.sort-group{
        position:relative;
        float:right;
        left:-50%;
        ul.sort-list{
            margin:50px auto;
            float:left;
            position:relative;
            left:50%;
            li{
                float:left;
                font-size:12px;
                border:1px solid #ddd;
                padding:7px 30px;
                margin-left:-1px;
                color:#666;
                cursor:pointer;
                &.active{
                    color:#fff;
                    font-weight:bold;
                    &:focus{
                        color:#fff;
                        font-weight:bold;
                    } 
                }
            }
            
        }
    }
    ul.list-group{
        width:100%;
        height:300px;
        clear:both;
        li{
            width:23%;
            list-style: none;
            float:left;
            margin:20px 1%;
            border:1px solid #ddd;
            box-shadow:0 2px 3px #ddd;
            box-sizing:border-box;
            position:relative;
            @include respond-to('small'){
                width:48%;
            }
            @include respond-to('too-small'){
                width:98%;
            }
            &.shop{
                text-align:center;
            }
            span.badge{
                position:absolute;
                left:20px;
                display:block;
                width:50px;
                letter-spacing:1px;
                background:$point-color;
                font-size:20px;
                line-height:30px;
                font-weight:bold;
            }
        }
    }
    
    div.img-box{
        width:100%;
        background:#fff;
        overflow:hidden;
        img{
            width:100%;
            height:auto;
            border-bottom:1px solid #eee;
        }
        &.shop{
            height:130px;
        }
    }
    div.detail-box{
        width:100%;
        //일정글자수이상 ...처리
        text-overflow:ellipsis;
        overflow:hidden;
        white-space:nowrap;
        a.prod-title{
            color:#222;
            font-size:15px;
            font-weight:bold;
            letter-spacing:-0.5px;
            padding:10px;
            line-height:30px;
            &.shop{
                line-height:50px;
                padding:0;
            }
        }
        a.category{
            font-size:8px;
            font-weight:bold;
            padding:2px 5px;
            margin-right:1px;
            color:#fff;
            border-radius:5px;
            text-overflow:initial;
            white-space:normal;
            &_1{
               background:indianred; 
            }
            &_2{
                background:yellowgreen;
            }
            &_3{
                background:cornflowerblue;
            }
            &_4{
                background:lightpink;
            }
            &_5{
                background:rebeccapurple;
            }
        }
        p{
            display:block;
            width:2300/24%;
            margin:0;
            padding:0 10px;
            clear:both;
            &:not(.prod_category){
                height:40px;
                line-height:40px;
            }
            &.prod_category{
                height:80px;
                line-height:1.2;
            }
            &.prod-shop{
                color:#666;
                font-size:11px;
                clear:both;
                border-top:1px solid #eee;
            }
            &.prod-price{
                color:dodgerblue;
                font-size:14px;
                font-weight:bold;
                display:block;
                border-top:1px solid #eee;
                span{
                    float:right;
                    height:100%;
                    padding-left:10px;
                    border-left:1px solid #eee;
                    i{
                        &.fa-heart{
                            color:hotpink;
                        }
                        &.fa-heart-o{
                            color:#ccc;
                        }
                    }
                }
            }  
        } 
    }
    div.bookmark{
        float:left;
        position:absolute;
        bottom:30px;
        left:50%;
        margin-left:-25px;
        width:50px;
        height:50px;
        text-align:center;
        border-radius:50px;
        background:#fff;
        i{
            font-size:30px;
            line-height:50px;
            &.fa-star{
                color:rgb(255, 204, 0);
            }
            &.fa-star-o{
                color:#ccc;
            }
        }
        &.guest{
            background:none;
            z-index:-1;
        }
    }
}

div.pagination{
    clear:both;
    float:right;
    position:relative;
    left:-50%;
    margin-bottom:80px;
    ul.pagination{
        position:relative;
        left:50%;
        padding:0;
        margin:50px auto;
        display:block;
        li{
            float:left;
            padding:5px 10px;
            margin:5px;
            border:1px solid #ddd;
            border-radius:20px;
            font-size:11px;
            font-weight:bold;
            a{
                color:#666;
            }
        }
    }
}
