div.category_main{
    width:100%;
    height:180px;
    background:url('../image/back01.jpg') no-repeat;
    background-position:center;
    background-size:cover;
    margin:0 0 50px 0;
    padding:0;
    position:relative;
    div.image-cover{
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
    }
    div.category_name{
        position:absolute;
        top:0;
        width:100%;
        height:100%;
    }
    h2{
        color:#fff;
        font-size:30px;
        letter-spacing:-4px;
        text-shadow:0 0 20px $point-color;
        margin:0;
        padding:0;
        text-align:center;
        line-height:180px;
    }
}
div.page{
    width:80%;
    max-width:1200px;
    min-width:800px;
    margin:20px auto;
    position:relative;
    @include respond-to('small'){
        width:90%;
        min-width:initial;
    }
    div.form{
        width:100%;
    }
    &.list{
        clear:both;
        h3{
            text-align:center;
            font-size:25px;
            font-family: 'Exo 2', sans-serif;
            letter-spacing:5px;
        }
        div.tab_wrap{
            clear:both;
            width:700px;
            height:120px;
            margin:80px auto;
            position:relative;
            @include respond-to('small'){
                width:100%;
            }
            nav.tab-nav{
                height:55px;
                li{
                    background:#333;
                    margin-left:-1px;
                    text-align:center;
                    float:left;
                    width:120px;
                    height:40px;
                    line-height:38px;
                    font-weight:bold;
                    border:1px solid #ddd;
                    letter-spacing:2px;
                    transition:all 0.1s;
                    @include respond-to('too-small'){
                        width:100px;

                    }
                    &.active{
                        background:#fff;
                        border-top:3px solid $point-color;
                        border-bottom:3px solid #fff;
                        height:55px;
                        margin-top:-16px;
                        line-height:50px;
                        z-index:50;
                        a{
                            color:#444;
                        }
                    }
                    a{
                        display:inline-block;
                        width:100%;
                        height:100%;
                        line-height:35px;
                        font-size:13px;
                        color:#fff;
                    }
                }
            }
        }
        div.filter-wrap{
            clear:both;
            width:100%;
            margin:0 auto;
            border-top:1px solid #ddd;
            position: relative;
            top: -14px;
            @include respond-to('small'){
                width:100%;
            }
            &.specification{
                height:120px;
                border-bottom:1px solid #333;
                @include respond-to('small'){
                    height:240px;
                }
                div.filter-group{
                    height:120px;
                }
            }
            h2{
                position:absolute;
                display:inline-block;
                width:100px;
                font-size:17px;
                top:-40px;
                left:50%;
                margin-left:-50px;
                letter-spacing:5px;
            }
            div.filter-group{
                float:left;
                width:18%;
                padding:5px;
                text-align:center;
                box-sizing:border-box;
                @include respond-to('small'){
                    width:33.3333333333333333%;
                }
                h3{
                    text-align:center;
                    font-size:15px;
                    letter-spacing:5px;
                    @include respond-to('too-small'){
                        margin:10px auto 10px auto;
                        letter-spacing: 2px;
                    }
                }
                label{
                    margin:2px -4px;
                    border:1px solid #ddd;
                    display:inline-block;
                    background:#fff;
                    padding:5px 10px;
                    font-size:12px;
                    cursor:pointer;
                    &.active{
                        border:1px solid $point-color;
                        color:$point-color;
                    }
                }
                &:last-child{
                    width:10%;
                    height:120px;
                    font-size:12px;
                    font-weight:bold;
                    padding:0;
                    @include respond-to('small'){
                        width:33.3333333333333333%;
                    }
                    &.purpose{
                        width:10%;
                        @include respond-to('small'){
                        width:20%;
                    }
                    }
                }
                &.purpose{
                    width:100%;
                    text-align:left;
                    &:last-child{
                        width:100%;
                        height:35px;
                    }
                    label{
                        margin:8px;
                        @include respond-to('too-small'){
                            margin:2px 1px;
                        }
                    }
                }
                input.submit.filter-group{
                    width:100%;
                    height:100%;
                    background:#333;
                    color:$point-color;
                    border:none;
                    padding:0;
                }
            }  
        }
        &.mypage{
            div.sort-wrap, div.sort-wrap.shop{
                margin:0 auto 20px auto;
            }
        }
        div.sort-wrap{
            clear:both;
            float:right;
            position:relative;
            left:-50%;
            margin:50px auto 20px auto;
            &.shop{
                margin:50px auto 20px auto;
            }
            ul.sort-list{
                float:left;
                position:relative;
                left:50%;
                margin:0px 18px;
                @include respond-to('too-small'){
                    width:100%;
                    padding:0;
                    margin:0;
                }
                &.product-sort{
                    li{
                        @include respond-to('too-small'){
                            width:22%;
                            padding:10px 2px;
                        }
                    }
                }
                li{
                    float:left;
                    font-size:12px;
                    border:1px solid #ddd;
                    padding:7px 23px;
                    margin-left:-1px;
                    text-align:center;
                    color:#666;
                    cursor:pointer;
                    &:first-child{
                        border-radius:10px 0 0 10px;
                    }
                    &:last-child{
                        border-radius:0 10px 10px 0;
                    }
                    &.active{
                        background:$point-color;
                        color:#fff;
                        font-weight:bold;
                        &:focus{
                            color:#fff;
                            font-weight:bold;
                        } 
                    }
                } 
            }
        }
        ul.list-group{
            height:300px;
            clear:both;
            > li{
                width:23%;
                list-style: none;
                float:left;
                margin:20px 1%;
                border:1px solid #ddd;
                box-shadow:0 2px 3px #ddd;
                box-sizing:border-box;
                position:relative;
                overflow:hidden;
                @include respond-to('small'){
                    width:48%;
                }
                @include respond-to('too-small'){
                    width:98%;
                }
                &.shop{
                    text-align:center;
                }
                span.badge{
                    font-family: 'Exo 2', sans-serif;
                    position:absolute;
                    top:5px;
                    left:5px;
                    display:block;
                    width:50px;
                    height:50px;
                    text-align:center;
                    letter-spacing:-1px;
                    background:url('../image/bookmark.png') top no-repeat;
                    background-size:100%;
                    font-size:18px;
                    line-height:40px;
                    font-weight:bold;
                    &.medal{
                        width:70px;
                        height:70px;
                        font-size:30px;
                        line-height:55px;
                    }
                    &.recommend{
                        top:10px;
                        left:-45px;
                        width:150px;
                        height:40px;
                        background:$point-color;
                        transform:rotate(-45deg);
                        box-shadow:5px 5px 20px #222;
                    }
                }
            }
        }   
        div.img-box{
            width:100%;
            background:#fff;
            overflow:hidden;
            img{
                width:100%;
                height:auto;
                border-bottom:1px solid #eee;
            }
            &.shop{
                height:130px;
            }
        }
        div.detail-box{
            width:100%;
            //일정글자수이상 ...처리
            text-overflow:ellipsis;
            overflow:hidden;
            white-space:nowrap;
            a.prod-title{
                color:#222;
                font-size:15px;
                font-weight:bold;
                letter-spacing:-0.5px;
                padding:10px;
                line-height:30px;
                &.shop{
                    line-height:50px;
                    padding:0;
                }
            }
            ul.prod_category{
                height:80px;
                line-height:1.2;
                margin:0;
                padding:0 10px;
                li{
                    float:left;
                    margin-right:3px;
                    a.category{
                        display:inline;
                        font-size:11px;
                        font-weight:bold;
                        padding:2px 7px;
                        margin:1px;
                        line-height:2;
                        color:#fff;
                        border-radius:5px;
                        text-overflow:initial;
                        white-space:normal;
                        &_1{
                        background:indianred; 
                        }
                        &_2{
                            background:yellowgreen;
                        }
                        &_3{
                            background:cornflowerblue;
                        }
                        &_4{
                            background:lightpink;
                        }
                        &_5{
                            background:rebeccapurple;
                        }
                        &_6{
                            background:darkcyan;
                        }
                        &_7{
                            background:darkorange;
                        }
                        &_8{
                            background:darkgray;
                        }
                        &_9{
                            background:dodgerblue;
                        }
                        &_10{
                            background:midnightblue;
                        }
                    }
                }
            }            
            p{
                display:block;
                width:2300/24%;
                margin:0;
                padding:0 10px;
                clear:both;
                &:not(.prod_category){
                    height:40px;
                    line-height:40px;
                }
                &.prod-shop{
                    color:#666;
                    font-size:11px;
                    clear:both;
                    border-top:1px solid #eee;
                }
                &.prod-price{
                    color:dodgerblue;
                    font-size:14px;
                    font-weight:bold;
                    display:block;
                    border-top:1px solid #eee;
                    span{
                        float:right;
                        height:100%;
                        padding-left:10px;
                        border-left:1px solid #eee;
                        i{
                            &.fa-heart{
                                color:hotpink;
                            }
                            &.fa-heart-o{
                                color:#ccc;
                            }
                        }
                    }
                }  
            } 
        }
        div.bookmark{
            float:left;
            position:absolute;
            bottom:30px;
            left:50%;
            margin-left:-25px;
            width:50px;
            height:50px;
            text-align:center;
            border-radius:50px;
            background:#fff;
            i{
                font-size:30px;
                line-height:50px;
                &.fa-star{
                    color:rgb(255, 204, 0);
                }
                &.fa-star-o{
                    color:#ccc;
                }
            }
            &.guest{
                background:none;
                z-index:-1;
            }
        }
    }
}

div.pagination{
    clear:both;
    float:right;
    position:relative;
    left:-50%;
    margin-bottom:80px;
    ul.pagination{
        position:relative;
        left:50%;
        padding:0;
        margin:50px auto;
        display:block;
        li{
            float:left;
            padding:5px 10px;
            margin:5px;
            border:1px solid #ddd;
            border-radius:20px;
            font-size:11px;
            font-weight:bold;
            &.active{
                background:$point-color;
                color:#fff;
            }
            a{
                color:#666;
            }
        }
    }
}
