

    div.page.shop-apply{
        margin:30px auto 100px auto;
        padding:20px;
        border:1px solid #ddd;
        background:#fff;
        border-radius:20px;
        width:800px;
        font-size:12px;
        @include respond-to('small') {
            width:95%;
        }
        h1, h2{
            font-size:16px;
        }
        label.agree{
            width:90%;
        }
        input{
            &.user_email{
                background:#eee;
            }
            &:not(.agree){
                width:100%;
                height:30px;
                border-radius:5px;
                border:1px solid #ddd;
                border-radius:10px;
                margin:5px 0;
                padding:8px 10px;
            }
            &[type="submit"]{
                background:#fff;
                &:hover{
                    background:lightgreen;
                }
            }
        }
        div.group{
            width:100%;
            clear:both;
            div.form-group:not(.agree){
                margin:10px 0;
                &:not(.half-layout){
                    width:95%;
                }
                &.half-layout{
                    float:left;
                    width:45%;
                    margin-right:5%;
                    @include respond-to('small') {
                        width:95%;
                    }
                }
            }
            &.notice-group{
                clear:both;
                margin:20px 0;
                li{
                    border:1px solid #ddd;
                    height:50px;
                    margin-top:-1px;
                    border-collapse:collapse;
                    position:relative;
                    &.warning{
                        border:1px solid indianred;
                    }
                    h2{
                        width:100%;
                        height:100%;
                        line-height:50px;
                        text-indent:20px;
                        margin:0;
                        a{
                            position:absolute;
                            right:30px;
                            font-size:20px;
                            &:hover{
                                text-decoration:none;
                            }
                        }
                    }
                    label.error{
                        position:absolute;
                        top:2px;
                        left:170px;
                    }
                }
                div.slide{
                    height:0;
                    overflow:hidden;
                    transition:all 0.5s;
                    &.fadein{
                        height:230px;
                    }
                    div.form-group{
                        width:200px;
                        float:right;
                        &.agree{
                            text-align:right;
                            input{
                                position:relative;
                                top:2px;
                            }
                        }
                    }
                    div.notice{
                        margin:-1px 0;
                        width:100%;
                        border:1px solid #ddd;
                        height:200px;
                        overflow-y:scroll;
                        &.policy{
                            height:231px;
                        }
                    }
                }
            }
        }
    }