
/// CSS
    form.ShopApply label.error, label.error{
        font-size:11.5px;
        font-weight:bold;
        border:1px dotted indianred;
        border-radius:5px;
        margin:7px 0;
        padding:5px 10px;
        color:indianred;
        transition:all 2s;
        &.agree{
            width:150px;
            
        }
    }

