
div.slider{
    width:100%;
    height:400px;
    overflow:hidden;
    position:relative;
    &.page.list{
        height:600px;
        h3{
            position:relative;
            top:-20px;
            line-height:1.0;
            span{
                font-size:0.8em;
            }
        }
    }
    nav.nav-slider{
        position:absolute;
        position:absolute;
        display:inline;
        top:170px;
        width:30px;
        height:30px;
        z-index:3;
        &.left{
            left:0;
        }
        &.right{
            right:0;
        }
        &.recommend{
            top:50%;
            a{
                color:#000;
            }
        }
        a{  
            font-size:30px;
            line-height:30px;
            color:#fff;
            opacity:0.7;
            margin:0 40px;
            @include respond-to('small'){
                margin:0 20px;
            }
            @include respond-to('too-small'){
                margin:0 10px;
            }
            &.left{
                float:left;
            }
            &.right{
                float:right;
            }
            &:hover{
                color:$point-color;
            }
        }
    }
    ul.slider{
        width:300%;
        position:relative;
        &.list-group.recommend{
            margin:40px auto;
            width:200%;
            @include respond-to('small'){
                width:400%; 
            }
            @include respond-to('too-small'){
                width:800%; 
            }
            > li{
                margin:0 0.5%;
                width:11.5%;
                position:relative;
            }
        }
        > li{
            width:33.3333333333333333333333333333333%;
            float:left;
            height:400px;
            background-position:0 -40px;
            background-size:cover;
            @include respond-to('small'){
                background-position:center 0;
            }
            div.slider-cover{
                width:100%;
                height:100%;
                background:rgba(0,0,0,0.4);
                padding:50px 15%;
                box-sizing:border-box;
                span{
                    color:$point-color;
                    border:1px solid $point-color;
                    border-radius:5px;
                    padding:2px 10px;
                    font-size:12px;
                    font-weight:bold;
                }
                h2{
                    color:#fff;
                    font-weight:bold;
                    letter-spacing:-1px;
                    font-size:30px;
                    // text-shadow:0 0 15px #333;
                    @include respond-to('small'){
                        font-size:26px;
                    }
                    @include respond-to('too-small'){
                        font-size:18px;
                    }
                }
                p{
                    color:#fff;
                    letter-spacing:-1px;
                    font-size:13px;
                    line-height:20px;
                    padding-bottom:20px;
                }
                a.btn{
                    color:#fff;
                    font-weight:bold;
                    font-size:12px;
                    padding:8px 12px;
                    letter-spacing:-1px;
                    border:1px solid $point-color;
                    border-radius:5px;
                    transition:all 0.5s;
                    &:hover{
                        background:$point-color;
                    }
                } 
            }
            a.no-btn{
                position:absolute;
                top:0;
                &.hidden{
                    display:none;
                }
            }
        }
    }
}
div.page.list.hot-items{
    &.recommend{
        max-width:initial;
        min-width:initial;
        margin:0;
        padding:0;
        width:100%;
    }
    h3{
        font-size:20px;
        letter-spacing:-1px;
        margin:50px 0 30px 0;
    }
    ul.list-group 
    {
        position:relative;
        height:initial;
        > li{
            margin:0 1% 20px 1%;
            &:last-child{
                margin-bottom:100px;
            }
        }
    }
    div.detail-box.main{
        p{
            &.prod-title{
                font-weight:bold;
                font-size:18px;
                height:30px;
                line-height:30px;
            }
            &.prod-shop{
                border:none;
                height:30px;
                line-height:25px;
            }
            text-align:center;
        }
    }
}
div.back{
    clear:both;
    width:100%;
    height:230px;
    overflow:hidden;
    padding:0;
    margin:0;
    @include respond-to('small'){
        height:400px;
    }
    div.wrap{
        height:100%;
    }
}
div.mainPage{
    clear:both;
    margin:0 auto;
    width:80%;
    @include respond-to('small'){
        width:100%;
    }
    h3{
        font-size:20px;
        letter-spacing:-1px;
        margin:50px 0 30px 0;
    }
    ul.list-group{
        clear:both;
        &:first-child{
            padding:50px 0 20px 0;
            @include respond-to('medium'){
                padding:0;
            }
        }
        &:last-child{
            padding:50px 0 20px 0;
            @include respond-to('medium'){
                padding:0;
            }
        }
        &.half-layouts{
            width:50%;
            float:left;
            clear:none;
            >li{
                float:initial;
            }
            
            @include respond-to('medium'){
                width:80%;
                padding:0 10%;
            }
            @include respond-to('small'){
                width:100%;
                padding:0;
            }
        }
        &.recommend:after{
            content:'';
            clear:both;
            float:left;
            margin-bottom:80px;
        }
        @include respond-to('small'){
            background:none;
            padding:0 5%;
            width:90%;
        }
        > li{
            float:left;
            margin:0;
            background:#fff;
            &.one-layouts{
                width:100%;
                padding:20px 20px;
                box-sizing:border-box;
                text-align:center;
                box-sizing:border-box;
                position:relative;
                display:inline-block;
                @include respond-to('medium'){
                    padding:0;
                    &:first-child{
                        margin-top:50px;
                    }
                }
                p{
                    margin:10px 0;
                    line-height:1.5;
                    font-weight:bold;
                    text-overflow:ellipsis;
                    overflow:hidden;
                    white-space:nowrap;
                    &.shop-name{
                        line-height:1.0;
                        color:#aaa;
                        font-size:12px;
                        font-weight:normal;
                    }
                    &:last-child{
                        font-size:15px;
                        color:dodgerblue;
                    }
                }
                nav.new_product, nav.hot_product{
                    width:66px;
                    margin:20px auto;
                    li{
                        float:left;
                        font-size:12px;
                        opacity:0.5;
                        filter:Alpha(50%);
                        margin:3px;
                        a{
                            color:#666;
                            &.active{
                                color:$point-color;
                            }
                        }
                    }
                }
                div.wrap{
                    width:100%;
                    @include respond-to('small'){
                        left:0;
                        margin-left:0;
                    }
                }
                div.advertisement{
                    ul.list-group{
                        margin:40px 0;
                        @include respond-to('medium'){
                            margin:-3px 0;
                        }
                        @include respond-to('small'){
                            background:none;
                            padding:0 5%;
                            width:90%;
                        }
                        li{
                            border:1px solid #ddd;
                            box-sizing:border-box;
                            position:relative;
                            height:0;
                            overflow:hidden;
                            margin:-1px;
                            &.triple{
                                width:33.3333333333333333333333333333333333%;
                                padding-bottom:40%;
                            }
                            &.half{
                                width:50%;
                                padding-bottom:30%;
                            }
                            div{
                                position:absolute;
                                top:0;
                                left:0;
                                width:100%;
                                height:100%;
                            }
                        }
                        a.btn{
                            position:absolute;
                            bottom:20%;
                            right:8%;
                            font-size:12px;
                            font-weight:bold;
                            border:1px solid #333;
                            background:rgba(255,255,255,0.7);
                            padding:8px 15px;
                            border-radius:5px;
                            box-shadow:0 0 15px #fff;
                            transition:all 0.5s;
                            @include respond-to('too-small'){
                                padding:5px 10px;
                                font-size:11px;
                            }
                            &:hover{
                                background:$point-color;
                                color:#fff;
                            }
                        }
                    }
                }
                div.slider-wrap{
                    width:100%;
                    margin:0 auto;
                    overflow:hidden;
                    div.slider{
                        width:400%;
                        overflow:hidden;
                        transition:all 1s;
                        position:relative;
                        left:0;
                        height:initial;
                        div.item{
                            width:12.5%;
                            float:left;
                            background:#fff;
                            div.detail{
                                width:70%;
                                margin:0 auto;
                            }
                        }
                    }
                }
                div.thumbnail{
                    width:90%;
                    height:90%;
                    margin:0 auto;
                }
            }
            div.thumbnail{
                width:100%;
                overflow:hidden;
                display:inline-block;
                position:relative;
                &:after{
                    padding-top:100%;
                    display:block;
                    content:'';
                }
                @include respond-to('small'){
                    width:100%;
                    height:75%;
                }
                a:not(.btn){
                    display:block;
                    width:100%;
                    height:100%;
                }
            }
            
        }
    }
}
div.shop-item{
    clear:both;
    padding:50px 15%;
    width:70%;
    @include respond-to('small'){
        padding:30px 5%;
        width:90%;
    }
    h3{
        font-size:20px;
        letter-spacing:-1px;
        margin:50px 0 30px 0;
        text-align:center;
    }
    ul.list-group{
        padding:0 5%;
        width:90%;
        > li{
            float:left;
            margin:5px;
            a{
                display:inline-block;
                font-size:13px;
                letter-spacing:-1px;
                padding:5px 13px;
                border:1px solid #ddd;
                border-radius:8px;
                color:#333;
                &.active{
                    background:#333;
                    color:#fff;
                }
            }
        }
    }
    div.tab_show{
        padding-top:50px;
        clear:both;
        background:#fff;
        width:100%;
        position:relative;
        li{
            width:18%;
            float:left;
            margin:0 0.5%;
            box-sizing:border-box;
            text-align:center;
            @include respond-to('small'){
                margin:0 1%;
                width:48%;
            }
            &:last-child{
                p:last-child{
                    margin-bottom:80px;
                }
            }
            div.wrap{
                position:relative;
                height:0;
                width:100%;
                padding-bottom:100%;
            }
            div.img-box{
                width:100%;
                overflow:hidden;
                display:inline-block;
                position:relative;
                &:after{
                    padding-top:100%;
                    display:block;
                    content:'';
                }
            }
            div.detail-box{
                padding:10px 0;
                width:100%;
                text-align:center;
                p{
                    font-weight:bold;
                    font-size:13px;
                    padding:3px 0;
                    margin:0;
                    &.shop-name{
                        padding:5px 0;
                    }
                    &.prod-shop{
                        color:#666;
                        font-size:12px;
                        clear:both;
                    }
                    &.prod-price{
                        color:dodgerblue;
                        font-size:14px;
                        font-weight:bold;
                        display:block;
                    }
                }
            }
            &.shop_brand{
                width:23%;
                img{
                    width:60%;
                    margin:20% 20% 0 20%;
                    height:auto;                    
                }
                a.shop-url{
                    color:#fff;
                    font-weight:bold;
                    padding:5px 15px;
                    font-size:13px;
                    letter-spacing:-2px;
                    background:dodgerblue;
                }
                @include respond-to('small'){
                    display:none;
                }
            }
        }
    }
}